* {
    margin: 0;
    padding: 0px;
    box-sizing: none;
}

.wrapper {
    width: 98%;
    max-width: 1600px;
    margin: 0 auto;
}

.cabeca {
    background: linear-gradient(90deg, #76d834 0%, #0aec5586 100%);
    padding: 20px;

}

/* seleção */

.selecao {
    padding: 20px;
    background: linear-gradient(90deg, #0aec5586 0%, #76d834 100%);
    margin-top: 2px;
    display: flex;
    justify-content: space-between;

}
a{
    background: #76d834;
    font-size: 20px;
    padding: 20px 15px;
}

.link>button {
    display: block;
    background-color: #2ccf35d8;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: honeydew;
    font-weight: 600;
    padding: 15px;
    border-radius: 10px;
    margin: 5px 0;
    border: none;
    width: 140px;

}

.link>button:hover {
    background-color: greenyellow;
    color: #125e0b;
    margin: 5px 0;
}

.dorme {
    background-color: #fff;
    width: 60%;
    padding: 60px;
    border-radius: 5px;
    display: block;
}
ul {
    list-style: none;
}
.final{
    color:#2f3a28;
    background: linear-gradient(90deg, #76d834 0%, #0aec5586 100%);    
}